name: Deploy Static Website

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: 62ef2481-1dff-4547-82dc-891322926266
          tenant-id: 7de0083d-d885-4555-97be-30b3d93e00ce
          subscription-id: 7bc1490e-697a-4a6c-9b49-dc658110a939

      - name: Deploy to WebApp
        uses: azure/webapps-deploy@v3
        with:
          app-name: app-webappgit
          package: .
