name: CI-CD - Build and Deploy to Azure WebApp

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: windows-latest

    steps:
      # 1️⃣ Checkout Code
      - name: Checkout Code
        uses: actions/checkout@v4

      # 2️⃣ Setup .NET (Skip this if static HTML site)
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      # 3️⃣ Restore
      - name: Restore Dependencies
        run: dotnet restore

      # 4️⃣ Build
      - name: Build
        run: dotnet build --configuration Release --no-restore

      # 5️⃣ Publish
      - name: Publish
        run: dotnet publish -c Release -o publish

      # 6️⃣ Deploy to Azure Web App
      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'app-gitbuhactionsMRTech'
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_6B1C22041C054B7F9B02BDA5FCE2324A }}
          package: publish
