name: Deploy to Azure WebApp (Client Secret)

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      # Login using Client Secret JSON
      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: WEBAPPCN

      - name: Zip Application
        run: zip -r package.zip .

      - name: Deploy to Azure WebApp
        uses: azure/webapps-deploy@v2
        with:
          app-name: app-webappgit
          package: package.zip
